@keyframes move-left-right {
    0% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(-10px);
    }
}

body{
    padding: 0;
    margin: 0;
}

.index-page {
    background-image: url('../img/dots.png');
    background-size: contain;
    overflow-x: hidden;
}

.index-page,
.page-header {
    height: 100vh;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-center {
    color: #ffffff;
    font-weight: 600;
    text-transform: capitalize;
    padding: 35vh 0;
    text-align: center;
}

.index-page .squares {
    animation: move-left-right 1s infinite;
    background: #2424fc;
    background: -webkit-linear-gradient(0deg, #2424fc 0%, #4343fc 100%);
    background: -o-linear-gradient(0deg, #2424fc 0%, #4343fc 100%);
    background: -moz-linear-gradient(0deg, #2424fc 0%, #4343fc 100%);
    background: linear-gradient(0deg, #2424fc 0%, #4343fc 100%);
    position: absolute;
    transition: 0.5s ease-out;
    overflow: hidden;
    border-radius: 20%;
}

.index-page .squares.square1 {
    animation: move-left-right 4s infinite;
    height: 300px;
    width: 300px;
    opacity: 0.5;
    left: 3%;
    top: -21%;
    z-index: -1;
}

.index-page .squares.square2 {
    animation: move-left-right 6s infinite;
    height: 400px;
    width: 400px;
    opacity: 0.4;
    right: 2%;
    top: -12%;
    z-index: -1;
}

.index-page .squares.square3 {
    animation: move-left-right 5s infinite;
    height: 200px;
    width: 200px;
    opacity: 0.1;
    left: -5%;
    bottom: 0%;
    z-index: -1;
}

.index-page .squares.square4 {
    animation: move-left-right 10s infinite;
    height: 100px;
    width: 100px;
    opacity: 0.9;
    right: 27%;
    top: 70%;
    z-index: -1;
}

.index-page .squares.square5 {
    animation: move-left-right 6s infinite;
    height: 250px;
    width: 250px;
    opacity: 0.1;
    left: 32%;
    bottom: 29%;
    z-index: -1;
}

.index-page .squares.square6 {
    animation: move-left-right 9s infinite;
    left: 10%;
    top: 35%;
    height: 80px;
    width: 80px;
    opacity: 0.8;
    z-index: -1;
}

.index-page .squares.square7 {
    animation: move-left-right 3s infinite;
    width: 300px;
    height: 300px;
    right: 1.5%;
    bottom: 0%;
    opacity: 0.1;
    z-index: -1;
}

.path-1 {
    opacity: 0.02;
    z-index: -1;
    max-width: 65%;
    margin-top: 5vh;
    margin-left: 60vw;
    overflow: hidden;
    position: absolute;
}

.path-4 {
    opacity: 0.02;
    z-index: -1;
    max-width: 85%;
    margin-left: -35vw;
    overflow: hidden;
    position: absolute;
}

.path-2 {
    opacity: 0.02;
    z-index: -1;
    max-width: 25%;
    margin-top: 70vh;
    margin-left: -9vw;
    overflow: hidden;
    position: absolute;
}

.path-5 {
    opacity: 0.02;
    z-index: -1;
    max-width: 65%;
    margin-left: 50vw;
    overflow: hidden;
    position: absolute;
}

.main {
    margin: auto;
    width: 80vw;
    color: white;
}

section.content {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    text-align: justify;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-40%);
    transition: all 2500ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

footer {
    margin-top: 20vh;
}

.content-center{
    font-family: 'Roboto Mono', monospace;
}

/* Change Selection Text Color When Highlighting */ 
::-moz-selection { background-color: #4171ff; 
color: black; } 
::selection { background-color: #4171ff; 
color: black; }

.custom-bg-color{
    background-color: rgba(19, 65, 189, 0.854);
}

.footer-logo {
    width: 70px;
    padding: 5px;
}

.download-btn {
    background-color: #001752ab;
    color: rgb(155, 155, 155);
    padding: 10px 20px 10px 20px;
    border-radius: 6px;
    border: none;
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.541);
}

.download-btn:hover {
    background-color: #020094af;
    transition: 0.5s;
    color: rgb(138, 138, 138);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.541);
}
